div {
  width: 400px;
  margin: 20px auto;
  background-color: #eee !important;
  border: none !important;
  color: black !important;
  font-size: 0px !important;
  text-align: center;
}

div::before {
  content: "Elzero";
  font: bold 20px Arial;
}